<section class="bg-2 p-12 lg:py-24">
    <div class="max-w-7xl mx-auto bg-aqua-blue rounded-2xl p-12 grid grid-cols-12 items-center">
        <div class="col-span-12 lg:col-span-7">
            <h4 class="sub-title sub-title-b">HOW DO I MINT</h4>
            <hr class="sub-title--b"/>
            <h2 class="title mt-4">To mint NFTs on EKTA NFT, Click Explore
            More Button to get an detailed guide.</h2>
           
        </div>
        <div class="col-span-12 lg:col-span-5">
            <button class="btn btn--green float-right">Know More</button>
        </div>
    </div>
</section>