<section>
    <div class="max-w-7xl px-5 py-12 lg:py-16 mx-auto">
        <div class="grid grid-cols-12 items-center gap-4 lg:gap-20">
            <div class="col-span-12 lg:col-span-6">
                <img src="assets/images/what-is-ekta/left-img.png" width="100%" height="100%" alt="">
            </div>
            <div class="col-span-12 lg:col-span-6">
                <div class="relative">
                    <img src="assets/images/what-is-ekta/top-right.png" class="hidden lg:block absolute right-0 bottom-80" width="200" alt="">
                    <img src="assets/images/what-is-ekta/right-arrow.svg" class="w-20 h-12" alt="">
                    <h4 class="sub-title">What Is EKTA?</h4>
                    <hr class="sub-title--b"/>
                    <h2 class="title">The NFT marketplace with
                        everything for everyone</h2>
                    <p class="text-xl fw-regular my-8">At Ekta, we're excited about a brand new type of digital
                        good called a non-fungible token, or NFT. NFTs have
                        exciting new properties: they’re unique, provably
                        scarce, tradeable, & usable across multiple applications.</p>

                    <a href="#">
                        <button type="button" class="btn btn--red mt-8">Explore More</button>
                    </a>
                    <img src="assets/images/what-is-ekta/bottom-right.png" class="hidden lg:block absolute right-0 top-80" width="200" alt="">
                </div>
            </div>
        </div>
    </div>
</section>