<section class="bg-banner">
    <app-navbar></app-navbar>
    <div class="grid grid-cols-12 gap-4 lg:gap-8 m-12 lg:m-24 h-screen">
        <div class="col-span-12 lg:col-span-5 mt-auto mb-64">
            <div class="banner__content">
                <img src="assets/images/home/banner-triangle.svg" class="w-32 h-32 mb-8" alt="">
                <h2 class="text-5xl fw-medium text-white">Discover a universe
                    of NFTs you can trade
                    and collect</h2>
            </div>
        </div>
    </div>
</section>
