<section class="p-12" style="background-image: url(../../../assets/images/how-to-register/bg-img.jpg);">
    <app-navbar class="absolute w-full z-10"></app-navbar>
    <div class=" bg-white opacity-90 rounded-2xl px-12 py-10 ">
        <div class="grid grid-cols-12 items-center my-4">
            <div class="col-span-12 md:col-span-6">
                <h4 class="sub-title sub-title-b">How to register as a Partner?</h4>
                <hr class="sub-title--b"/>
                <h2 class="title mt-4">Mint your NFT with EKTA With
                    3 simple steps</h2>
               
            </div>
            <div class="col-span-12 md:col-span-6">
                <button type="button" class="btn btn--mint float-right">Mint Now</button>
            </div>
        </div>
        <div class="grid grid-cols-12 gap-4 lg:gap-8 my-4 lg:mt-0">
            <div class="col-span-12 md:col-span-6 lg:col-span-4">
                <img src="assets/images/how-to-register/register.svg" width="60" height="60" class="pb-8" alt="">
                <h2 class="card__title">Register as Partner</h2>
                <p class="card__content my-5">
                    Please fill up this form - Signup as
                    Partner. Please have your personal
                    business details ready.
                </p>
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-4">
                <img src="assets/images/how-to-register/verify.svg" width="60" height="60" class="pb-8" alt="">
                <h2 class="card__title">Verify by EKTA’s </h2>
                <p class="card__content my-5">
                    Our dedicated verification team
                    evaluates your submission and we
                    will reach out to you for verification. 
                </p>
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-4">
                <img src="assets/images/how-to-register/minting.svg" width="50" height="50" class="pb-8" alt="">
                <h2 class="card__title">Minting NFTs</h2>
                <p class="card__content my-5">
                    Once your account is verified by our
                    team, we will setup your partner
                    account to create/manage your NFTs.
                </p>
            </div>
        </div>
        <div class="how-register__bg mt-8">
            <div class="grid grid-cols-12 gap-4 lg:gap-8 lg:py-24 lg:pb-20 lg:px-12">
                <div class="col-span-12 lg:col-span-5">
                    <div class="banner__content p-8">
                        <img src="assets/images/how-to-register/play-btn.svg" class="w-32 h-32 mb-8" alt="">
                        <h2 class="text-5xl fw-medium text-white">How to register as
                            a Partner?</h2>
                    </div>
                </div>
                <div class="col-span-12 lg:col-span-7">

                </div>
            </div>
        </div>
    </div>
</section>