<section class="relative">
    <app-navbar class="absolute w-full z-10"></app-navbar>
    <div class="max-w-7xl p-8 lg:px-5 lg:py-28 mx-auto">
        <div class="grid grid-cols-12 items-center mb-6 gap-4 lg:gap-8">
            <div class="col-span-12 md:col-span-8">
               <div class="relative">
                <img class="float-right absolute hidden lg:block -right-130 bottom-14" width="130" height="100%" src="assets/images/featured-partner/triangle.png" alt="">
                <h4 class="sub-title">Featured Partner</h4>
                <hr class="sub-title--b"/>
                <h2 class="title">Our largest partner offering many opportunities
                    for us to advance our business.</h2>
               </div>
            </div>
            <div class="col-span-12 md:col-span-4">
                <a href="#">
                    <button type="button" class="btn btn--red float-right">Explore More</button>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-12 items-center mb-6 gap-4 lg:gap-8">
            <div class="col-span-12 sm:col-span-6 md:col-span-4">
                <div class="featured-partner__card relative">
                    <img src="assets/images/featured-partner/1.png" alt="">
                    <div class="featured-partner__card-info p-4">
                        <img class="rounded-full w-20 h-20 mb-4 -mt-14" src="assets/images/featured-partner/avatar-1.png" alt="ekta-nft" />
                        <h4 class="card__title line-clamp-1 lg:line-clamp-2">L.O Community</h4>
                        <p class="card__content line-clamp-2 pt-2">L.O is a collection of 5555 Unique
                        animated NFT’s each with its own......</p>
                    </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-4">
                <div class="featured-partner__card relative">
                    <img src="assets/images/featured-partner/2.png" alt="">
                    <div class="featured-partner__card-info p-4">
                        <img class="rounded-full w-20 h-20 mb-4 -mt-14" src="assets/images/featured-partner/avatar-2.png" alt="ekta-nft" />
                        <h4 class="card__title line-clamp-1 lg:line-clamp-2">My Pet Hooligan</h4>
                        <p class="card__content line-clamp-2 pt-2">A genesis NFT collection of 8888 Pet
                            Hooligans – unique 3D characters.....</p>
                    </div>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 md:col-span-4">
                <div class="featured-partner__card relative">
                    <img src="assets/images/featured-partner/3.png" alt="">
                    <div class="featured-partner__card-info p-4">
                        <img class="rounded-full w-20 h-20 mb-4 -mt-14" src="assets/images/featured-partner/avatar-3.png" alt="ekta-nft" />
                        <h4 class="card__title line-clamp-1 lg:line-clamp-2">Sunmiya Club Official</h4>
                        <p class="card__content line-clamp-2 pt-2">You are invited to the new culture of
                            K-POP within Metaverse, the world......</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img src="assets/images/why-the-buzz/top-right-img.svg" class="absolute x-img -z-1" alt="">
</section>