<section>
    <div class="max-w-7xl px-5 py-12 lg:py-16 mx-auto">
        <div class="grid grid-cols-12 gap-4 lg:gap-8 bg-triangle">
            <div class="col-span-12 md:col-span-4">
                <h4 class="sub-title">EkTA News</h4>
                <hr class="sub-title--b"/>
                <h2 class="title line-clamp-3">Introducing NFTs on
                    EKTA and Why We're
                    in NFT</h2>

                <img src="assets/images/news-blog/1.png" alt="ekta-nft">
            </div>
            <div class="col-span-12 md:col-span-4">
                <h4 class="sub-title">EkTA Blog</h4>
                <hr class="sub-title--b"/>
                <h2 class="title line-clamp-3">Bridging the Gap between
                    Digital and Physical Art —
                    Joey Wint</h2>
                <img src="assets/images/news-blog/2.png" alt="ekta-nft">
            </div>
            <div class="col-span-12 md:col-span-4">
                <h4 class="sub-title">EkTA News</h4>
                <hr class="sub-title--b"/>
                <h2 class="title line-clamp-3">Ekta NFT's WPT Release
                    #2 — Info and Important
                    Dates</h2>
                <img src="assets/images/news-blog/3.png" alt="ekta-nft">
            </div>
        </div>
        <div class="col-span-12 text-center my-12">
            <a href="#">
                <button type="button" class="btn btn--red">Explore More</button>
            </a>
            <img class="float-right w-32 h-32"src="assets/images/news-blog/triangle.png" alt="">
        </div>
        
    </div>
  </section>