<section>
    <div class="max-w-7xl px-5 py-12 lg:py-16 mx-auto">
        <div class="grid grid-cols-12 items-center mb-6 gap-4 lg:gap-8">
            <div class="col-span-12 lg:col-span-8">
                <h4 class="sub-title">Trending NFT</h4>
                <hr class="sub-title--b"/>
                <h2 class="title line-clamp-3">Our largest partner offering many opportunities
                    for us to advance our business.</h2>
            </div>
            <div class="col-span-12 lg:col-span-4">
                <a href="#">
                    <button type="button" class="btn btn--red float-right">Explore More</button>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-12 items-strech gap-4 gap-y-8 lg:gap-y-0 lg:gap-8">
            <div class="col-span-12 md:col-span-6 lg:col-span-3">
                <img src="assets/images/trending-nft/1.png" width="100%" height="100%" alt="">
                <div class="card-box border-grey border-solid rounded-b-xl border-2">
                    <div class="p-5">
                        <h4 class="text-sm fw-regular text-black">Communi3: Mad Scientists</h4>
                        <h3 class="text-lg fw-semibold text-black">Mad Scientist #3008</h3>
                    </div>
                    <hr class="border-grey border-t border-solid">
                    <div class="grid grid-cols-12 items-center gap-3 p-5 h-32">
                        <div class="col-span-12 sm:col-span-7">
                            <h5 class="text-sm text-black fw-regular pb-1">Min Bid:</h5>
                            <div class="flex items-center space-x-2">
                                <img src="assets/images/trending-nft/ekta-coin.svg" class="w-6 h-6" alt="">
                                <span class="text-base fw-semibold text-black">4.19 EKTA</span>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-5">
                            <button type="button" class="px-5 py-2 text-xs fw-medium rounded-full btn--red float-right">Buy Now</button>
                        </div>
                        <div class="col-span-12">
                            <div class="flex items-center space-x-2">
                                <h5 class="text-sm text-black fw-regular">Last</h5>
                                <div class="flex items-center space-x-2">
                                    <img src="assets/images/trending-nft/ekta-coin.svg" class="w-5 h-5" alt="">
                                    <span class="text-md text-black fw-medium">1.699 EKTA</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-3">
                <img src="assets/images/trending-nft/2.png" width="100%" height="100%" alt="">
                <div class="card-box border-grey border-solid rounded-b-xl border-2">
                    <div class="p-5">
                        <h4 class="text-sm fw-regular text-black">Alliestrasza</h4>
                        <h3 class="text-lg fw-semibold text-black">ALLIE CATS #521</h3>
                    </div>
                    <hr class="border-grey border-t border-solid">
                    <div class="grid grid-cols-12 items-center gap-3 p-5 h-32">
                        <div class="col-span-12 sm:col-span-7">
                            <h5 class="text-sm text-black fw-regular pb-1">Top Bid:</h5>
                            <div class="flex items-center space-x-2">
                                <img src="assets/images/trending-nft/ekta-coin.svg" class="w-6 h-6" alt="">
                                <span class="text-base fw-semibold text-black">218 EKTA</span>
                            </div>
                        </div>
                        <div class="col-span-12 sm:col-span-5">
                            <button type="button" class="px-5 py-2 text-xs fw-medium rounded-full btn--red float-right">Buy Now</button>
                        </div>
                        <div class="col-span-12">
                            <div class="flex items-center space-x-2">
                                <h5 class="text-sm text-black fw-regular">231 Days Left</h5>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-3">
                <img src="assets/images/trending-nft/3.png" width="100%" height="100%" alt="">
                <div class="card-box border-grey border-solid rounded-b-xl border-2">
                    <div class="p-5">
                        <h4 class="text-sm fw-regular text-black">Smoke Heads</h4>
                        <h3 class="text-lg fw-semibold text-black">Smoke Heads #1559</h3>
                    </div>
                    <hr class="border-grey border-t border-solid ">
                    <div class="h-32 ">
                        <div class="grid grid-cols-12 items-center gap-3 p-5">
                            <div class="col-span-12 md:col-span-7">
                                <h5 class="text-sm text-black fw-regular pb-1">Price:</h5>
                                <div class="flex items-center space-x-2">
                                    <img src="assets/images/trending-nft/ekta-coin.svg" class="w-6 h-6" alt="">
                                    <span class="text-base fw-semibold text-black">28 EKTA</span>
                                </div>
                            </div>
                            <div class="col-span-12 md:col-span-5">
                                <button type="button" class="px-5 py-2 text-xs fw-medium rounded-full btn--mint float-right">Mint Now</button>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-span-12 md:col-span-6 lg:col-span-3">
                <img src="assets/images/trending-nft/4.png" width="100%" height="100%" alt="">
                <div class="card-box border-grey border-solid rounded-b-xl border-2">
                    <div class="p-5">
                        <h4 class="text-sm fw-regular text-black">BEANZ Official</h4>
                        <h3 class="text-lg fw-semibold text-black">Bean #1509</h3>
                    </div>
                    <hr class="border-grey border-t border-solid">
                    <div class="grid grid-cols-12 items-center gap-3 p-5 h-32">
                        <div class="col-span-12 md:col-span-7">
                            <h5 class="text-sm text-black fw-regular pb-1">Min Bid:</h5>
                            <div class="flex items-center space-x-2">
                                <img src="assets/images/trending-nft/ekta-coin.svg" class="w-6 h-6" alt="">
                                <span class="text-base fw-semibold text-black">4.19 EKTA</span>
                            </div>
                        </div>
                        <div class="col-span-12 md:col-span-5">
                            <button type="button" class="px-5 py-2 text-xs fw-medium rounded-full btn--red float-right">Buy Now</button>
                        </div>
                        <div class="col-span-12">
                            <div class="flex items-center space-x-2">
                                <h5 class="text-sm text-black fw-regular">Last</h5>
                                <div class="flex items-center space-x-2">
                                    <img src="assets/images/trending-nft/ekta-coin.svg" class="w-5 h-5" alt="">
                                    <span class="text-md text-black fw-medium">1.699 EKTA</span>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>