<section>
    <div class="max-w-7xl px-5 py-12 lg:py-16 mx-auto">
        <div class="grid grid-cols-12 items-center gap-4 lg:gap-8">
            <div class="col-span-12 lg:col-span-6">
                <h4 class="sub-title">Latest Ekta NFT</h4>
                <hr class="sub-title--b"/>
                <h2 class="title line-clamp-3">Katy Perry’s 2017-2018 Witness
                    Tour featured 2 giant</h2>
            </div>
            <div class="col-span-12 lg:col-span-6">
                <p class="text-xl fw-regular">Made by Backstage Production on which she performed her song
                    “Roulette”. The dice served as a jungle gym for Katy and her dancers.
                    This is your one chance to own one of the die - an iconic piece of Katy
                    Perry history.</p>
            </div>
            <div class="col-span-12">   
                <div class="relative">
                    <img src="assets/images/latest-ekta/katty-perry.png"   alt="">
                    <div class="mt-12 lg:mt-0 lg:absolute lg:top-32 lg:left-32">
                        <div class="grid grid-cols-1 text-center justify-center items-center gap-4 lg:gap-8">
                            <div>
                              <img src="assets/images/latest-ekta/kp-logo.png" width="80%" class="mx-auto" alt="">
                              <h2 class="text-5xl text-black lg:text-white fw-medium mt-6">COMING SOON</h2>
                            </div>
                            <div class="flex items-center justify-center space-x-6">
                                <div class="bg-black h-24 w-24 rounded-md flex flex-col justify-center items-centerp-4">
                                    <h4 class="fw-bold text-3xl text-red">00</h4>
                                    <p class="text-white fw-regular">Days</p>
                                </div>
                                <div class="bg-black h-24 w-24 rounded-md flex flex-col justify-center items-center">
                                    <h4 class="fw-bold text-3xl text-red">00</h4>
                                    <p class="text-white fw-regular">Hr</p>
                                </div>
                                <div class="bg-black h-24 w-24 rounded-md flex flex-col justify-center items-center">
                                    <h4 class="fw-bold text-3xl text-red">00</h4>
                                    <p class="text-white fw-regular">Min</p>
                                </div>
                                <div class="bg-black h-24 w-24 rounded-md flex flex-col justify-center items-center">
                                    <h4 class="fw-bold text-3xl text-red">00</h4>
                                    <p class="text-white fw-regular">Sec</p>
                                </div>
                            </div>
                            <div>
                                <button type="button" class="btn btn--white block lg:hidden m-auto my-6">Notify Me</button>
                                <button type="button" class="btn btn--white hidden lg:block m-auto my-6">Notify Me</button>
                            </div>
                        </div>
                    </div>
                </div>
             
                <!-- <div class="bg-3">

                </div> -->
            </div>
        </div>
    </div>
</section>