/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import "@tailwindcss/line-clamp"; */

@font-face {
    font-family: Rubik-Light;
    src: url(../src/assets/fonts/Rubik-Light.ttf);
  }

@font-face {
    font-family: Rubik-Medium;
    src: url(../src/assets/fonts/Rubik-Medium.ttf);
}

@font-face {
    font-family: Rubik-Regular;
    src: url(../src/assets/fonts/Rubik-Regular.ttf);
}

@font-face {
    font-family: Rubik-SemiBold;
    src: url(../src/assets/fonts/Rubik-SemiBold.ttf);
}
@font-face {
    font-family: Rubik-Bold;
    src: url(../src/assets/fonts/Rubik-Bold.ttf);
}

.fw-bold {
    font-family: 'Rubik-Bold', Helvetica, sans-serif;
}
.fw-semibold {
    font-family: 'Rubik-SemiBold', Helvetica, sans-serif;
}
.fw-regular {
    font-family: 'Rubik-Regular', Helvetica, sans-serif;
}
.fw-medium {
    font-family: 'Rubik-Medium', Helvetica, sans-serif;
}
.fw-light {
    font-family: 'Rubik-Light', Helvetica, sans-serif;
}
.overflow-x-auto::-webkit-scrollbar,
.overflow-y-scroll::-webkit-scrollbar {
    overflow: hidden;
}
.btn {
    @apply text-sm fw-medium px-10 py-3 rounded-full;
}
.btn--green {
    @apply bg-dark-green text-white;
}
.btn--red {
    @apply bg-primary text-white border-primary border border-solid;
}
.btn--red:hover {
    @apply bg-transparent text-red border-primary border border-solid;
}
.btn--red-outline {
    @apply border-primary text-red border border-solid;
}
.btn--red-outline:hover {
    @apply bg-primary text-white border-primary border border-solid;
}
.btn--white {
    @apply bg-white text-red;
}
.btn--mint {
    @apply text-green bg-mint-green;
}
.sub-title {
    @apply fw-regular text-black text-base pb-1;
}
.sub-title--b {
    @apply border-t border-solid border-t-2 border-green w-12;
}
.title {
    @apply fw-semibold text-black text-2xl lg:text-4xl my-4;
}
.card__title {
    @apply text-xl lg:text-2xl fw-semibold text-black;
}
.card__content {
    @apply text-base lg:text-lg fw-regular text-black;
}
.card__title--white {
    @apply text-xl lg:text-2xl fw-semibold text-white;
}
.card__content--white {
    @apply text-base lg:text-lg fw-regular text-white;
}
.milestone__box {
    @apply border-grey border border-solid rounded-xl p-4;
}
.milestone__img {
    @apply w-20 h-20 mx-auto pb-4;
}
.milestone__label {
    @apply text-sm text-black fw-regular;
}
.milestone__value {
    @apply text-xl text-black fw-semibold;
}
.nft__card--info {
    @apply border-grey border-solid rounded-b-xl border-2;
}
.nft__card--sub-title {
    @apply text-sm fw-regular text-black;
}
.nft__card--title {
    @apply text-lg fw-semibold text-black;
}
.nft__card--category {
    @apply text-sm text-black fw-regular pb-1;
}
.nft__card--red-btn {
    @apply px-5 py-2 text-xs fw-medium rounded-full btn--red float-right;
}
.nft__card--mint-btn {
    @apply px-5 py-2 text-xs fw-medium rounded-full btn--mint float-right;
}
.nft__card--ekta-value-lg {
    @apply text-base fw-semibold text-black truncate;
}
.nft__card-ekta-value-sm {
    @apply text-sm text-black fw-medium;
}
.bg-banner {
    background-image: url(../src/assets/images/home/bg-banner.png);
    background-size: cover;
    height: 100vh;
}
.how-register__bg {
    background-image: url(../src/assets/images/how-to-register/how-to-register-bg.png);
    background-size: cover;
    /* height: 100vh; */
    background-size: contain;
    background-repeat: no-repeat;
}
.bg-2 {
    background-image: url(../src/assets/images/bg-2.png);
}
.bg-3 {
    background-image: url(../src/assets/images/latest-ekta/katty-perry.png);
    height: 100%;
    width: 100%;
    background-size: cover;
}
.single-collection__bg--banner {
    background-image: url(../src/assets/images/discover-nft/single-collection/beanz-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
}
::placeholder {
    color: #979797;
}
.-z-1 {
    z-index: -1;
}

.ng-image-slider .ng-image-slider-max-w-7xl .main .main-inner .img-div, .ng-image-slider .ng-image-slider-max-w-7xl .main .main-inner .img-div img, .ng-image-slider .ng-image-slider-max-w-7xl .main .main-inner .img-div video {
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-radius: 0 !important;
}
.img-div.image-popup {
    margin-right: 0 !important;
    margin-left: 0 !important;
    border-radius: 0 !important;
}